<html>

<head>
<title>Assignment 3 </title>
</head>

<body>
<H1>Assignment 3</H1>
<H4>BIOF339</H4>
<p>Using the pbc data set from the last assignment, answer the following quesiotns:</p>

<OL>
<LI>What is the probability of the null hypothesis that the age of the study participants in normally distributed?
<LI>Is the proportion of women in the study what would be expected if particpants were selcted randomly from the us population (females = 50.8% of population).  What is the p-value associated with that null hypothesis?  
<LI>Is there a statistically significant difference between the cholesterol levels of men versus women?
<LI>Is there a statistically significant relationship between sex and disease stage?  You will need to use the "table" command to put these columns (pbc[,c("sex","stage")]) into a contingency table first.
<LI>Is there a statistically significant correlation between serum albumin and serum cholesterol?
<LI>Is there a statistically significant correlation between age and cholesterol?  
<LI>Did you use parametric or non-parametric statistical tests to answer the previous questions?  If challenged by a reviewer, how would you justify your choice?
<LI>When deciding whether your results were statistically significant, what did you use as your threshold p-value?  Why?
</OL>
</body>
</html>
